[Unit]
Description=Mullvad + Tailscale coexistence rules
After=tailscaled.service
Wants=tailscaled.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/nft -f /home/end/Github/dotfiles/mullvad_tailscale.conf
ExecStart=/usr/sbin/ip route add 100.64.0.0/10 dev tailscale0 table main
ExecStop=/usr/sbin/nft delete table inet mullvad_tailscale
ExecStop=/usr/sbin/ip route del 100.64.0.0/10 dev tailscale0 table main

[Install]
WantedBy=multi-user.target
